<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<style>
     *{
        padding: 0;
        margin: 0;
    }
  .search{
    width: 100%;
    height: 17vh;
    background-color: green;
  }
  .all_lists{
    border: 2px solid grey;
    margin-top: 5vh;
  }
 
</style>
<body >
     <!-- As a heading -->
  <!--hey the helper i created hieracy of class and id in form of human body just to make it real-->


  <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">📱 sCommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><img src="user-svgrepo-com.svg" alt="icon"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
 <div class="search">
    <input class="form-control" type="text" placeholder="Search collge here" aria-label="default input example" style="width: 50%;height: 60%;position: relative; left: 20%; top: 1vw;">
 </div>
 <div class="container-fluid" style="background-color: wheat;margin-top: 6vh;">
<h5 style="color: white;">Register for college!</h5>
<form action="/create" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="name of college" name="name">
    <input type="text" placeholder="address of college" name="address">
    <input type="text" placeholder="about the college"name="about">
    <input type="text" placeholder="Aictc Id" name="Aictc">
    <input type="file" name="collegephoto" id="photocollege" >
    <input type="submit" value="submit">


</form>
 </div>
 <div class="all_lists container-fluid">
    <% items.forEach(item => {%>
    <div class="container">
        <div class="flex" style="display: flex;">
            <li><img src="<%= item.link %>" alt="image" style="height: 20vh; width: 61%;"></li>
            <li><h3><%= item.name %></h3></li>
        </div>
<p><%=item.desc%></p>
<p>Adress :- <%=item.address%></p>
<a href="/dashboard/<%=item.id%>"><button type="button" class="btn btn-primary">Dashboard</button></a>
    </div>
    <% }) %>

 </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>