<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<style>
     *{
        padding: 0;
        margin: 0;
    }
    .main_brain{
        height: 50px;
        width: 100%;
        background-color: blue;
    }
    nav li{
        margin-left: 14vw;
        margin-top: 1vw;
    }
    .search{
        height: 4vw;
        width: 100%;
        background-color: #0058ff16;
    }
    .add_college{
        height: 15vw;
        width: 35vw;
        
        position: relative;
        left: 30%;
        
        top: 1vw;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
        background-color:  #0058ff16;
    }
    input{
        margin-top: 1vw;
    }
    .container{
        height: 20vw;
        width: 60%;
        border: 2px solid grey;
        border-radius: 5px;
        margin-top: 2vw;
    }
    .container li{
        list-style: none;
    }
</style>
<body>
     <!-- As a heading -->
  <!--hey the helper i created hieracy of class and id in form of human body just to make it real-->
 <div class="main_brain">
    <nav style="display: flex;">
        <li><img src="https://res.cloudinary.com/factnotes/image/upload/v1759348565/ChatGPT_Image_Oct_2_2025_01_18_31_AM_vzqofl.png" alt="logo" style="height: 8vh;width: 100%;position: relative;bottom: 35px;"></li>
        <li> <a href="/home" style="color: black;"> Home</a></li>
        <li> Contact us</li>
        <a href="/aboutus"><li style="color: black;">About us</li></a>
    </nav>
 </div>
 <div class="search">
    <input class="form-control" type="text" placeholder="Default input" aria-label="default input example" style="width: 50%;height: 60%;position: relative; left: 20%; top: 1vw;">
 </div>
 <div class="add_college">
<h5>Register for college!</h5>
<form action="/create" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="name of college" name="name">
    <input type="text" placeholder="address of college" name="address">
    <input type="text" placeholder="about the college"name="about">
    <input type="text" placeholder="Aictc Id" name="Aictc">
    <input type="file" name="collegephoto" id="photocollege" >
    <input type="submit" value="submit">


</form>
 </div>
 <div class="all_lists">
    <% items.forEach(item => {%>
    <div class="container">
        <div class="flex" style="display: flex;">
            <li><img src="<%= item.link %>" alt="image" style="height: 20vh; width: 61%;"></li>
            <li><h3><%= item.name %></h3></li>
        </div>
<p><%=item.desc%></p>
<p>Adress :- <%=item.address%></p>
<a href="/dashboard/<%=item.id%>"><button type="button" class="btn btn-primary">Dashboard</button></a>
    </div>
    <% }) %>

 </div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>